@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Regular", "Times New Roman";
    font-size: 14pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat Bold";
}
.container {
    width: 70%;
    margin: 0 auto;
    border-top:none;
    border-bottom: none;

}

header {
    padding: 0;
    margin: 0;
}

header h1 {
    text-align: center;
    margin-top: 15px;
}

header nav {
    height: auto;
    padding: 0;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

header nav ul li {
    margin-right: 0px;
    width: 30%;
    display: inline-block;
    text-align: center;
}

.headerButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 500;
    vertical-align: middle;  
    transition: 1s;
    transition-property:color, content;
    transform: none;  
    padding: 20px 20px;
}

b {
    color: rgb(224, 127, 143);
}

.headerButton:hover {
    color: rgb(224, 127, 143);  
}

.mainSection {
    float: left;
    margin: 0 0 40px;
}

.mainSection p {
    margin: 40px 20px;
}

.mainSection p:first-of-type {
    margin: 20px 20px;
}
.mainSection p:last-of-type {
    margin: 20px 20px;
}

.mainSection p a {
    text-decoration: none;
    color: #3B14A7;
}

footer {
    margin-bottom: 40px 0 20px 0;
    width: 100%;
}


footer nav {
    padding: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    text-align: center;

}

footer nav ul li {
    margin-right: 0px;
    width: 30%;
    display: inline-block;
    text-align: center;
}

.footerButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 500;
    vertical-align: middle;  
    transition: 1s;
    transition-property:color;
    transform: none;  
    padding: 20px 20px;
}

.footerButton:hover {
    color: rgb(224, 127, 143);  
}


footer p {
    text-align: center;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    transition: 1s;
    transition-property:color;
    color: rgb(224, 127, 143);
}

iframe {
    display: block;
    width:100%;
    overflow:hidden;
    height:500px;
}

.textButton {
    color: black;
    font-weight: 700;
    margin: 20px 20px 0px 0px;
    box-sizing: border-box;
    position: relative;
    float: right;
    text-align: center;
    padding: 20px 15px;
    border: 1px solid rgba(163, 96, 108, 0);

}

.textButton:hover {
    animation: textButtonTransform 2s linear forwards;
}

@keyframes textButtonTransform {
    0% {
        border: 1px solid rgba(163, 96, 108, 0);
        border-radius: 40px;
        margin: 30px;
        padding: 40px;
    }
    50% {
        transform: rotateZ(-360deg);
        border: 2px solid rgba(163, 96, 108, 1);
        background-color: rgb(224, 127, 143);
        border-radius: 90px;
    }
    100% {
        border: 1px solid rgba(163, 96, 108, 0);
        transform: rotateZ(-360deg);
    }
}

.wrapper {
    height:96vh;
    margin-bottom: -106px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.cardContainer {
    height: 300px;
    width: 300px;
    padding: 0;
    display: inline-block;
    margin: 30px 50px;
}

.allCards {
    text-align: center;
}
  
.mainCard {
    border:1px rgba(0, 0, 0, 0) solid;
    border-radius: 50px 40%;
    height: 300px;
    width: 300px;
    position: relative;
}

.cardContainer:hover #mainCard1, .cardContainer:hover #mainCard4  {
    animation: borderChange1 1s linear alternate forwards 2;

}

@keyframes borderChange1 {
    0% {
        border: 1px rgba(0, 0, 0, 0.2) solid;
        border-radius: 50px 40%;
    }
    100% {
        border-radius: 40% 50px;
        border: 1px pink solid;
        background: #262A53;
        color: aliceblue;
        z-index: 1;
    }
}

.cardContainer:hover #mainCard2, .cardContainer:hover #mainCard3 {
    animation: borderChange2 1s linear alternate forwards 2;

}

@keyframes borderChange2 {
    0% {
        border: 1px rgba(0, 0, 0, 0.2) solid;
        border-radius: 40% 50px;
    }
    100% {
        border-radius: 50px 40%;
        border: 1px pink solid;
        background: #2541B2;
        color: aliceblue;
        z-index: 1;
    }
}

.cardDescription div {
    display: inline-block;
}

.cardName {
    font-weight: bold;
    color: rgb(224, 127, 143);
    text-align: center;
    margin-top: 23%;
}

.cardDescription {
    font-weight: 500;
    margin-top:12%;
    text-align: center;

}

.cardContacts {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    text-align: center;
}
.personsContacts {
    display: inline-block;
    text-align: center;
    width: auto;
    margin-top: 12%;
}

.personsContacts a {
    text-decoration: none;
    color: black;
}

.personsContacts a i {
    padding: 10px;
}

#aboutLeftBar {
    float: left;
    width: 20%;
    box-sizing: border-box;
}


.leftBarText p {
    margin:0 5px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
}

.leftBarText p:first-of-type {
    margin: 20px 5px;
}

.leftBarText ul {
    margin:0;
    list-style-type: none;
    padding: 0;
}

.leftBarText ul li {
    text-decoration: none;
    text-align: center;
    margin: 30px 0;
}

.leftBarText a {
    color: black;
    font-size: 1.3rem;
    padding:10px 10px;
}

#aboutMainSection {
    float: right;
    width: 80%;
    box-sizing: border-box;
}

.tinyLogo:hover, .mainSection p a:hover {
    animation: colorChange 1s linear infinite alternate;
}

@keyframes colorChange {
    0% {
        color: #d109d4;
    }
    25% {
        color: #730fa8;
    }
    50% {
        color: #00fff8;
    }
    75% {
        color: #ff0074;
    }
    100% {
        color: #0016ff;
    }
}

/*Начало contactus*/

#contactLeftBar {
    float: left;
    width: 20%;
    box-sizing: border-box;
}
#contactMainSection {
    float: right;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 0ex;
}

.formContainer {
    box-sizing: border-box;
    width: 80%;
    margin: 25px auto;
    background: rgb(224, 127, 143, 0.3);
    border-radius: 25px;
    padding: 20px 25px;
}

.tableRow {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.tableRow::after {
    content: "";
    clear: both;
    display: table;
}

.leftCol {
    width:40%;
    float: left;
    text-align: right;
    margin: 0;
    font-weight: bolder;
    box-sizing: border-box;
    padding-right: 5px;
}

.rightCol {
    width: 60%;
    float: right;
    text-align: left;
    box-sizing: border-box;
    padding-left: 5px;

}

.tableRow li {
    list-style: none;
    margin: 0 0 5px 0;
    font-weight: bolder;
}

.tableRow li input {
    margin-right: 5px;
    margin-left: 0;
}


.textInputArea {
    width: 70%;
    font-family: inherit;
    font-size: smaller;
    padding: 4px 5px;
    resize: none;
    border: 1px solid grey;
    border-radius: 15px;
}

.textInputArea:focus {
    outline:none;
    background: rgba(0,0,0,0.1);
}

.buttonCol {
    text-align: right;
}

.formButton {
    font-family: inherit;
    margin-left: 25px;
    margin-top: 10px;
    font-size: smaller;
    background-color: #B97A95;
    border: 0px solid black;
    padding:10px 15px;
    border-radius: 20px;
    color:white;
    font-weight: bolder;
}

#submitButton:hover {
    animation: submitHover 1s linear 1 forwards;
}

@keyframes submitHover {
    0% {
        background-color: #B97A95;
        color:white;
    }
    50% {
        background-color: #3A6351;
        color: white;
    }
    100% {
        background-color: #055052;
        color: white;
    }
}

#resetButton:hover {
    animation: resetHover 1s linear 1 forwards;
}

@keyframes resetHover {
    0% {
        background-color: #B97A95;
        color:white;
    }
    50% {
        background-color: #D54C4C;
        color: white;
    }
    100% {
        background-color: #CD113B;
        color: white;
    }
}

/*Медиа*/

@media screen and (max-width:768px) {
    html, body {
        font-size: 2.85vw;
    }
    #indexIFRAME {
        display: none;
    }
    .textButton:hover {
        animation: none;
    }
    .textButton{
        color: #3B14A7;
        margin-top: 0;
        padding: 10px 15px ;
    }
    .mainSection p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cardContainer:hover #mainCard1, .cardContainer:hover #mainCard4, .cardContainer:hover #mainCard2, .cardContainer:hover #mainCard3 {
        animation: none;
    }
    
    .cardContainer {
        margin:0;
        height:auto;
        width:auto;
        display: inline;
    }

    .cardContainer div {
        margin: 0;
        text-align: left;
        font-size: 1rem;
    }
    
    div .tinyLogo i {
        padding:0;
        margin-bottom: 10px;
    }

    .mainCard {
        border:1px rgba(0, 0, 0, 0) solid;
        height:auto;
        width:auto;
        display: inline;
    }

    .allCards {
        display: block;
        margin:20px;
        height: auto;
    }

    .leftBarText p {
        display: none;
    }

    .tinyLogo:hover, .mainSection p a:hover {
        animation: none;
        color: rgb(224, 127, 143);
    }

    .formContainer {
        padding: 0;
        font-size: 1rem;
    }

    .leftCol, .rightCol {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    }
    .leftCol {
        text-align: left;
    }
    .textInputArea {
        width: 93%;
    }

    #emptyLeftCol {
        display:none;
    }
    #submitButton, #resetButton {
        margin:0;
    }
}

@media screen and (max-width:1024px) {
    .textButton:hover {
        animation: none;
    }
    .textButton{
        color: #3B14A7;
        margin-top: 0;
        padding: 10px 15px ;
    }

    .cardContainer:hover #mainCard1, .cardContainer:hover #mainCard4, .cardContainer:hover #mainCard2, .cardContainer:hover #mainCard3 {
        animation: none;
    }
    
    .cardContainer {
        margin:0;
        height:auto;
        width:auto;
        display: inline;
    }

    .cardContainer div {
        margin: 0;
        text-align: left;
        font-size: 1rem;
    }
    div .tinyLogo i {
        padding:0;
        margin-bottom: 10px;
    }

    .mainCard {
        border:1px rgba(0, 0, 0, 0) solid;
        height:auto;
        width:auto;
        display: inline;
    }

    .allCards {
        display: block;
        margin:20px;
        height: auto;
    }

    .leftBarText p {
        display: none;
    }

    .tinyLogo:hover, .mainSection p a:hover {
        animation: none;
        color: rgb(224, 127, 143);
    }

    .formContainer {
        padding: 0;
        font-size: 1rem;
    }

    .leftCol, .rightCol {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    }
    .leftCol {
        text-align: left;
    }
    .textInputArea {
        width: 97%;
    
    }

    #emptyLeftCol {
        display:none;
    }
    #submitButton, #resetButton {
        margin:0;
    }
}

@media screen and (max-width:1455px) {
    #mainCard1, #mainCard2, #mainCard3, #mainCard4 {
        margin: 10px 10px;
        height: 25vw;
        width: 25vw;
        box-sizing: border-box;
    }
    .allCards .cardContainer {
        margin: 10px 10px;
        height: 25vw;
        width: 25vw;
        box-sizing: border-box;
        font-size: 1.2vw;
    }
}